h1 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 86px;
    line-height: 103.2px;
}

h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    font-size: 86px;
    line-height: 103.2px;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: local("Roboto-Regular")
    url("fonts/Roboto/Roboto-Regular")
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
}

nav {
    font-weight: 500;
    font-size: 25px;
    line-height: 28.13px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
}

q {
    font-family: "Bitter", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 31.2px;
}

ul {
    font-family: "Bitter", sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 40.8px;
}

address {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}